
.advantages-section {
     @extend %section;
}
.advantages-list {
    @include tablet {
        @include list-settings(flex, wrap, -15px);
    }
          
    &__item {
        @media screen and (max-width: 767px) {
            width: 100%;
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
        }
        @include tablet {
            flex-basis: calc(100% / 2 - 30px);
            margin: 15px;
        }
        @include desktop {
            flex-basis: calc(100% / 4 - 30px);
        }
    }

    &__block {
        @include flex-settings(flex, center, center);

        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
        background-color: #f5f4fa;
    }

    &__title {
        text-align: center;

        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}