.section-clients {
  @extend %section;
}

.section-title {
  @extend %section-title;
    @include desktop {
        margin-bottom: 50px;
    }
}

.company-list {
      @include list-settings(flex, wrap, -15px);

    &__item {
        margin: 15px;
        width: calc(100% / 2 - 30px);

        @include tablet {
            width: calc(100% / 3 - 30px);
        }
        @include desktop {
            width: calc(100% / 6 - 30px);
        }
    }

    &__link {
        @include flex-settings(flex, center, center);
        
        height: 92px;
            
        @include border (1px, #afb1b8);
        border-radius: 4px;
        fill: #afb1b8;

        transition: fill $transition-duration $timing-function,
                    border $transition-duration $timing-function;

          &:focus,
          &:hover {
             fill: $аccent-color;
             @include border (1px, $аccent-color);
          }
    }
}

