.work-section {
    @extend %section;
    
  text-align: center;
  padding-top: 0;
}

.work-list {
  display: flex;
    
    &__item {
    position: relative;
        &:not(:last-child) {
            margin-right: 30px;
    }        
    }

    &__title {
        @include flex-settings(flex, center, center);
      
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;

    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    }

    &__thumb {
    position: relative;
    }
    &__img {
    display: flex;
    }
    
}