.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: transform $transition-duration $timing-function,
    visibility $transition-duration $timing-function, opacity $transition-duration $timing-function;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: scale(0.2);
  }
}
