
.logo {
    font-family: $f-family-logo;
  
    font-weight: $f-weight-bolt;
    font-size: 24px;
    line-height: 1.17;
    color: $аccent-color;

    padding: 16px 0;

    &__text {
      color: $title-text-color;
    }
    @include tablet {
      font-size: 26px;
      line-height: 1.19;
       margin-right: 88px;
    }
    @include desktop {
      margin-right: 93px;
    }
 
}
