.product {
  display: block;

  transition: box-shadow $transition-duration $timing-function;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
    &__overlay {
        position: relative;
        text-align: center;
        overflow: hidden;
    }

    &__text {
        position: absolute;
        
        @include flex-settings(flex, flex-start, center);

        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        font-size: 18px;
        line-height: 1.56;

        background-color: rgba(33, 150, 243, 0.9);
        color: #ffffff;

        opacity: 0;
        transform: translateY(100%);

        transition: opacity $transition-duration $timing-function,
        transform $transition-duration $timing-function;

        .product:hover &,
        .product:focus & {
        opacity: 1;
        transform: translateY(0);
        }
    }

    &__thumb {
        padding: 20px 24px;
        background-color: #ffffff;
        border-bottom: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
    }

    &__title {
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;

        margin-bottom: 4px;
        color: $title-text-color;
        
    }

    &__content {
        font-size: 16px;
        line-height: 1.88;
        color: $primary-text-color;
    }

    &__img {
        display: flex;
    }
}
