body {
  font-family: $base-f-family;
  font-size: $prime-f-size;
  line-height: $prime-line-height;
  letter-spacing: $prime-letter-spacing;
  background: $background-color;
  color: $primary-text-color;
}