//.section

%section {
    padding-top: 94px;
    padding-bottom: 94px;
}

//primary button (modal-btn, hero-btn, footer-btn)

%button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-weight: $f-weight-bolt;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;

  margin: 0 auto;
  padding: 10px 0;

  border-radius: 4px;
  border: none;
  cursor: pointer;

  color: #ffffff;
  background-color: $Ð°ccent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
    &:hover,
    &:focus {
        background-color: $button-accent-color;
    }
}

// social-icon (active) 

%socials-icon-active {
        fill: #ffffff;
        background-color: $social-icons-accent-color;
}

// social-link (value)

%social-link-value {
    width: 44px;
    height: 44px;

    border: none;
    border-radius: 50%;
    cursor: pointer;
}

// h2 - section title

%section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}